- @total_rendered_comments = 0

- #moving new comment will be handeled front end by custom javascript, that will move it around
- #when the reply button is hit. When this happens, the below commentable information as it pertains
- #to the form will change. The reason commentable is added is just to get it to render properly.

.moving_new_comment{ class: "d-none" }
    = render 'comments/new', commentable: @comment

= render 'comments/show', comment: @comment, comment_level: 0, commentable: nil